In [1]:
import pymongo
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
barn_client = MongoClient()
barn_db = barn_client['barn-database']
review_col = barn_db['reviews']

In [3]:
next(review_col.find({}))

{'_id': ObjectId('64f60b6ddc414c05721ed08d'),
 'author': 'Miruna Iancu',
 'stars': 5,
 'text_review': 'A very nice place, pet friendly and with a really amazing view. We had a wonderful time here. The coffee is really good and they have a lot of options for breakfast.',
 'tokens': ['nice',
  'place',
  'pet',
  'friendly',
  'really',
  'amazing',
  'view',
  'wonderful',
  'time',
  'coffee',
  'really',
  'good',
  'lot',
  'option',
  'breakfast'],
 'textblob_score': 0.6910000000000001,
 'vader_score': 0.9537}

In [4]:
reviews_df = pd.DataFrame()

In [5]:
reviews_df['author'] = [author['author'] for author in review_col.find({},{'author':1})]
reviews_df['stars'] = [stars['stars'] for stars in review_col.find({},{'stars':1})]
reviews_df['textblob_score'] = [blob_score['textblob_score'] for blob_score in review_col.find({},{'textblob_score':1})]
reviews_df['vader_score'] = [vader_score['vader_score'] for vader_score in review_col.find({},{'vader_score':1})]

In [6]:
index = pd.Index(range(1, len(reviews_df)+1))

reviews_df.index = index

In [7]:
reviews_df

                   author  stars  textblob_score  vader_score
1            Miruna Iancu      5        0.691000       0.9537
2              Cori Kurtz      5        0.397024       0.9934
3      Robert Meadowcroft      4        0.286574       0.9325
4            Mihai Stoica      5        0.336667       0.7346
5              Nick Jones      5        0.287500       0.8126
..                    ...    ...             ...          ...
68   Lourenco Albuquerque      5        0.000000       0.0000
69               Michal W      5        0.000000       0.0000
70         Debarati Kumar      3        0.000000       0.0000
71  Ufuk Bartu Cenberoğlu      5        0.000000       0.0000
72               Andrew L      5        0.000000       0.0000

[72 rows x 4 columns]

In [8]:
textblob_sentiment = []

for i in range(1, len(reviews_df)+1):
        if reviews_df['textblob_score'][i] < 0:
                textblob_sentiment.append('negative')
        elif 0 <= reviews_df['textblob_score'][i] < 0.7:
                textblob_sentiment.append('neutral')
        else:
                textblob_sentiment.append('positive')

In [9]:
vader_sentiment = []

for i in range(1, len(reviews_df)+1):
        if reviews_df['vader_score'][i] < 0:
                vader_sentiment.append('negative')
        elif 0 <= reviews_df['vader_score'][i] < 0.7:
                vader_sentiment.append('neutral')
        else:
                vader_sentiment.append('positive')

In [10]:
reviews_df['texblob_sentiment'] = textblob_sentiment
reviews_df['vader_sentiment'] = vader_sentiment

In [11]:
reviews_df.head()

,author,stars,textblob_score,vader_score,texblob_sentiment,vader_sentiment
1,Miruna Iancu,5,0.691000,0.9537,neutral,positive
2,Cori Kurtz,5,0.397024,0.9934,neutral,positive
3,Robert Meadowcroft,4,0.286574,0.9325,neutral,positive
4,Mihai Stoica,5,0.336667,0.7346,neutral,positive
5,Nick Jones,5,0.287500,0.8126,neutral,positive

In [20]:
conn = psycopg2.connect(
    database="barn-database",
    user='postgres',
    password="Hemanthkumar#1",
    host="localhost",
    port="5432"
)

In [21]:
cursor_obj = conn.cursor()

In [14]:
engine = create_engine('postgresql+psycopg2://postgres:Hemanthkumar#1@localhost:5432/barn-database')

In [15]:
reviews_df.to_sql("barn_reviews", engine, if_exists='replace')

72

In [16]:
if conn:
    cursor_obj.close()
    conn.close()
    print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [22]:
cursor_obj.execute("SELECT * FROM barn_reviews")

In [23]:
result = cursor_obj.fetchall()

In [24]:
df = pd.DataFrame(result)

In [26]:
col_names = [desc[0] for desc in cursor_obj.description]

In [32]:
df.columns = col_names
df.set_index('index', inplace=True)